body {
background: url("tile.jpg");
background-size: 45%;
margin: 0;
padding: 0;
height: 100%;
width: 100%


}

#sky {
background: linear-gradient(deepskyblue, lightcyan, aliceblue); 
height: 60%;
width: 100%;


}

#sun {
font-size: 60px;
position: absolute;
top: 30px;
left: 100px;

}

#house-1 {
background: white;
height: 80px;
width: 100px;
position: absolute;
top: 345px;
left: 600px;

}

#roof-1 {

border-bottom: 45px solid rgb(26, 130, 235);
border-left: 45px solid transparent;
border-right: 45px solid transparent;
position: relative;
bottom: 45px;



}

#tree {
width: 185px;
position: absolute;
top: 250px;
left: 76;


}



#beach {

width: 150px;
postition: absolute;
top: 12px;
left: 45px;
}



